:root {
  --lightgrey: #e0e2e7;
  --grey: #babeca;
  --darkgrey: #21212c;
  --yellow: #f5efb8;
  --green: #c4eebe;
  --blue: #c3e5f5;
  --darkblue: #74a3fa;
  --pink: #ffbfd2;

  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --text-width: 60ch;
}
* {
  max-width: var(--text-width);
  box-sizing: border-box;
}
html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}
.centerh {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
}
.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stack > * + * {
  margin-top: var(--s1);
}
.row {
  display: flex;
}
legend + * {
  margin-top: 0 !important;
}
html,
body {
  min-height: 100%;
  margin: 0;
}
