:root {
  --lightgrey: #e0e2e7;
  --grey: #babeca;
  --darkgrey: #21212c;
  --yellow: #f5efb8;
  --green: #c4eebe;
  --blue: #c3e5f5;
  --darkblue: #74a3fa;
  --pink: #ffbfd2;

  --ratio: 1.5;
  --s-thin: calc(var(--s-5) / (var(--ratio) * 3));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1.1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --text-width: 60ch;
  --bullet: '↝';
  font-size: var(--s0);
}
* {
  max-width: var(--text-width);
  box-sizing: border-box;
  margin: 0;
}
html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}
.centerh {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
}
.stack {
  display: flex;
  flex-direction: column;
}
.stack > * + * {
  margin-top: var(--s0);
}
.stack:last-child {
  margin-bottom: var(--s0);
}
.row {
  display: flex;
}
legend + * {
  margin-top: var(--s-3) !important;
}
html,
body {
  min-height: 100%;
  margin: 0;
}
.bullets {
  padding-left: 0;
}
.bullets > * {
  list-style: none;
}
.bullets > *::before {
  content: var(--bullet, '→') '\0020';
}
textarea {
  font-size: var(--s-1);
  padding: var(--s-4) var(--s-3);
}
