@font-face {
  font-family: 'CSTM';
  src: url('/CSTM.otf');
}
@font-face {
  font-family: 'Autopia Bold';
  src: url('/Autopia-Bold.woff');
}
@font-face {
  font-family: 'Bagnard';
  src: url('/BagnardSans.otf');
}
@font-face {
  font-family: 'herbier';
  src: url('/herbier.otf');
}
:root {
  --darkgreen: rgb(0, 78, 48);
  --darkblue: rgb(0, 0, 160);
  --darkpurple: rgb(93, 0, 146);
  --pink: rgb(255, 121, 165);
  --transpink: rgba(255, 121, 165, 0.5);
  --gold: rgb(255, 219, 133);
  --peri: rgba(174, 177, 239, 1);
  --transperi: rgba(174, 177, 239, 0.5);
  --cream: rgb(251, 242, 235);
  --transcream: rgba(251, 242, 235, 0.7);
  --transparent: rgba(0, 0, 0, 0);

  --ratio: 1.5;
  --s-thin: calc(var(--s-5) / (var(--ratio) * 3));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1.1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --text-width: 60ch;
  --bullet: '↝';
}
html {
  font-size: 16px;
}
* {
  font-family: 'Bagnard', monospace;
  font-size: var(--s0);
  color: var(--darkblue);
  border: none;
  max-width: var(--text-width);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
html,
body,
div,
header,
nav,
main,
select,
footer {
  max-width: none;
}
.centerh {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
}
.stack {
  display: flex;
  flex-direction: column;
}
.stack > * + * {
  margin-top: var(--s-1);
}
.row {
  display: flex;
}
legend + * {
  margin-top: var(--s-3) !important;
}
html,
body {
  min-height: 100%;
  margin: 0;
  background-color: var(--cream);
}
.bullets {
  padding-left: 0;
}
.bullets > * {
  list-style: none;
}
.bullets > *::before {
  content: var(--bullet, '→') '\0020';
}
textarea {
  padding: var(--s-3) 1ch;
}
a,
a:visited {
  text-shadow: 0 0 var(--s-5) var(--pink);
  font-family: 'CSTM';
}
.herbier {
  font-family: 'herbier';
}
button,
input[type='submit'] {
  cursor: pointer;
  font-family: 'CSTM';
  flex: 1;
  background-color: var(--gold);
  font-size: var(--s1);
  box-shadow: 0 0 var(--s0) var(--s-1) var(--gold);
}
button:disabled,
input[type='submit']:disabled {
  cursor: default;
  background-color: var(--peri);
  box-shadow: 0 0 var(--s0) var(--s0) var(--peri);
}
.cluster {
  --space: var(--s0);
  overflow: hidden;
}
.cluster > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: calc(var(--space) / 2 * -1);
}
.cluster > * > * {
  margin: calc(var(--space) / 2);
}
